header{
    background-color: cornflowerblue;
    text-align: center;
    border: 1px black solid;
    color:white;
}

body{
    background-color: steelblue;
}

footer{
    background-color: cornflowerblue;
    text-align: center;
    border: 1px black solid;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

a{
    color:white;
    text-decoration: none   ;
}

a:hover{
    color:lightgray;
}

*{
	font-family: 'Roboto';
}

#BMIform{
    text-align: center;
    margin-top: 65px;
    background-color: cornflowerblue;
    border: 2px solid black;
    width: 40%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#btnSub:hover{
    color:lightgray;
    border-color: lightgray;
}

label{
    color:white
}

.textInput{
    background-color: transparent;
    border: 1px white solid;
    color: white;
}

.textInput::placeholder{
    color: white;
}

#informationsDIV{
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-left: 15px;
    max-width: 750px;
}

h4{
    color: lime;
    text-align: center;
    text-transform: uppercase;
}

#BMIchart{
    padding-left: 15px;
}

#BMIresultDiv{
    text-align: center;
    color: white;
    border : 2px solid black;
    margin-top: 15px;
    border-radius: 10px;
    background-color: cornflowerblue;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

#computedBMI{
    color:white;
    font-weight: bold;
}

#BMIgroup{
    font-style: italic;
}
    