.login_form{
  text-align: center;
  margin-top: 10px;
  background-color: cornflowerblue;
  border: 2px solid black;
  width: 40%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}


.register_form{
  text-align: center;
  margin-top: 10px;
  background-color: cornflowerblue;
  border: 2px solid black;
  width: 40%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

}

.pls_reg{
  text-align: center;
  margin-top: 10px;
  color: white;
  
  width: 40%;
  padding-top: 5px;
  padding-bottom: 25px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.pls_log{
  text-align: center;
  margin-top: 10px;
  color: white;
  
  width: 40%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;
}

body{
  background-color: steelblue;
}

a:hover{
  background-color: grey;
  text-align: center;
}

.border{
  border: 1px solid black;
}

#button_rl{
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  border : 1px solid white;
  border-radius: 3px;
  font-size: 15px;
  padding:3px;
  margin-top: 1px;
  margin-bottom: 10px;
}

#button_rl:hover{
  color:lightgray;
  border-color: lightgray;
}

label{
  color: white;
}

header{
  background-color: cornflowerblue;
  text-align: center;
  border: 1px black solid;
  color:white;
}

input{
  border:solid 1px white;
  background-color: cornflowerblue;
  color:white;
  
}

input::placeholder{
  color: white;
  text-transform: uppercase;
}

*{
  font-family: 'Roboto';
}

.no_account{
  text-align: center;
  margin-top: 15px;
  
  
  padding-top: 25px;
  padding-bottom: 25px;
  
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
  
}

#button_rl{
  margin-top: 20px;
}

a{
  color:white;
  text-decoration: none;
}